@import '../.././../public//fonts/AntonSC.css';

.floatingText {
    position: relative;
    z-index: 300;
    width: auto;
    height: auto;
    margin: 0 auto;
    top: 10vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: rgb(0, 66, 55);
    filter: drop-shadow(0 15px 15px rgba(0, 0, 0, 0.1));
    text-shadow: 1px 5px 5px rgba(0, 0, 0, 0.418);
    font-family: Anton SC;
    font-size: 40px;
}
