/* src/components/buttonColors/buttonGreen.css */
.btn-gradient-green {
    background: linear-gradient(to right, #56ab2f, #a8e063);
    border-radius: 30px;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* src/components/buttonColors/buttonOrange.css */
  .btn-gradient-orange {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    border-radius: 30px;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* src/components/buttonColors/buttonFlower.css */
  .btn-flower {
    background: url('../../assets/img/florAzul.png') no-repeat center center;
    background-size: cover;
    border-radius: 30px;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
  }
  