.gradientBackground {
    display: flex;
    height: 70vh;
    justify-content: center;
    width: 100dvw;
    align-items: center;
  }
  .cssSelector {
    box-shadow: 10px 30px 20px 10px rgba(75, 75, 75, 0.363) ;
    background: linear-gradient(270deg, #b359dd, #eb37c4, #64b9ff);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 0s ease infinite;
    -moz-animation: AnimationName 0s ease infinite;
    animation: AnimationName 0s ease infinite;
}

  /* Contenedor logo */
  .logoContainer {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  

  .logoWrapper {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 300;
  }
  

  .logo {
    max-width: 80%;
    height: auto;
    transition: transform 0.3s ease, filter 0.3s ease;
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.226));
  }

  
@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

  @media (max-width: 992px) {
    .logo {
      width: 40vw;
      max-width: 480px;
    }
  }
  
  @media (max-width: 768px) {
    .logo {
      width: 50vw;
      max-width: 400px;
    }
  }
  
  @media (max-width: 480px) {
    .logo {
      width: 60vw;
      max-width: 150px;
    }
  }
  